{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}

{% block body %}
    <h2 class="text-center">Administration</h2>

    {% for flashMessage in app.session.flashbag.get('info') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a href="#trouve" data-toggle="tab">Trouvé</a></li>
                <li><a href="#perdu" data-toggle="tab">Perdu</a></li>
            </ul>
        </div>
    </div>

    <div class="tab-content">
        <div class="tab-pane fade in active adminTable" id="trouve">
                <div class="table-responsive">
                    <table class="table table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>Numéro</th>
                                <th>Date</th>
                                <th>Descriptif</th>
                                <th>Tatouage</th>
                                <th>Identification</th>
                                <th>Action</th>  <!-- Actions column -->
                            </tr>
                        </thead>
                        {% for annonce in annonces %}
                            {% if annonce.categorie.id == 1 %}
                            <tr>
                                <td>{{ annonce.id }}</td>
                                {% autoescape %}
                                    <td>{{ annonce.date|date('d/m/Y') }}</td>
                                {% endautoescape %}
                                <td>{{ annonce.description }}</td>
                                <td>
                                    {% if  annonce.tatouage  == null %}
                                        <span>Non</span>
                                    {% else %}
                                        <span>{{ annonce.tatouage }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if  annonce.identification  == null %}
                                        <span>Non</span>
                                    {% else %}
                                        <span>{{ annonce.identification }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {#<a href="{{ path('editer_episode', {'id': episode.id}) }}" class="btn btn-info btn-xs" title="Editer"><span class="glyphicon glyphicon-edit"></span></a>#}
                                    <button type="button" class="btn btn-danger btn-xs" title="Supprimer" data-toggle="modal" data-target="#articleDialog{{ annonce.id }}"><span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                    <div class="modal fade" id="articleDialog{{ annonce.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                                                </div>
                                                <div class="modal-body">
                                                    Voulez-vous vraiment effacer cette épisode ?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                                    {#<a href="{{ path('supprimer_episode', {'id': episode.id}) }}" class="btn btn-danger">Confirmer</a>#}
                                                </div>
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal-dialog -->
                                    </div><!-- /.modal -->
                                </td>
                            </tr>
                            {% else %}
                                <p>pas d'annonces</p>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
        </div>

        <div class="tab-pane fade adminTable" id="perdu">
                <div class="table-responsive">
                    <table class="table table-hover table-condensed">
                        <thead>
                        <tr>
                            <th>Numéro</th>
                            <th>Date</th>
                            <th>Descriptif</th>
                            <th>Tatouage</th>
                            <th>Identification</th>
                            <th>Action</th>  <!-- Actions column -->
                        </tr>
                        </thead>
                        {% for annonce in annonces %}
                            {% if annonce.categorie.id == 2 %}
                            <tr>
                                <td>{{ annonce.id }}</td>
                                {% autoescape %}
                                    <td>{{ annonce.date|date('d/m/Y') }}</td>
                                {% endautoescape %}
                                <td>{{ annonce.description }}</td>
                                <td>
                                    {% if  annonce.tatouage  == null %}
                                        <span>Non</span>
                                    {% else %}
                                        <span>{{ annonce.tatouage }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if  annonce.identification  == null %}
                                        <span>Non</span>
                                    {% else %}
                                        <span>{{ annonce.identification }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {#<a href="{{ path('editer_episode', {'id': episode.id}) }}" class="btn btn-info btn-xs" title="Editer"><span class="glyphicon glyphicon-edit"></span></a>#}
                                    <button type="button" class="btn btn-danger btn-xs" title="Supprimer" data-toggle="modal" data-target="#articleDialog{{ annonce.id }}"><span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                    <div class="modal fade" id="articleDialog{{ annonce.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                                                </div>
                                                <div class="modal-body">
                                                    Voulez-vous vraiment effacer cette épisode ?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                                    {#<a href="{{ path('supprimer_episode', {'id': episode.id}) }}" class="btn btn-danger">Confirmer</a>#}
                                                </div>
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal-dialog -->
                                    </div><!-- /.modal -->
                                </td>
                            </tr>
                                {% else %}
                                <p>Pas d'annonces</p>
                                {% endif %}
                        {% endfor %}
                    </table>
                </div>
        </div>
    </div>
    <br>

{% endblock %}