{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/accueil.css') }}" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block body %}

    <section id="main-image">
        <h2>Aidez les<br><strong id="strong">à retrouver leur toit</strong></h2>
        <a href="#actions" class="button-1">Par ici</a>
    </section>

    <section id="actions" class="container">
            <ul class="col-md-12">
                <a href="" class="col-md-4">
                    <li id="action-1">
                        <h4>Chercher</h4>
                        <p>Vous avez perdu votre chat, il est parti...Postez une annonce pour que la communauté vous aide.</p>
                    </li>
                </a>
                <a href="" class="col-md-4">
                    <li id="action-2">
                        <h4>Trouver</h4>
                        <p>Vous avez trouvé un chat, aidez le à retrouver ses maîtres en postant une annonce.</p>
                    </li>
                </a>
                <a href="" class="col-md-4">
                    <li id="action-3">
                        <h4>Poster</h4>
                        <p>Poster votre annonce gratuitement.</p>
                    </li>
                </a>
                <div class="clear"></div>
            </ul>
    </section>

    <section id="annoncesRecentes" class="container-fluid">
        <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="annonce-block">
                        <article class="annonces">
                            <div class="overlay">
                                <h4>{{ annonceDerniere.categorie.nom }}</h4><h6>{{ annonceDerniere.departement.departementNom }}</h6>
                                <p><small>{{ annonceDerniere.description }} {{ annonceDerniere.signes }}</small></p>
                                <a href="#" class="button-2">Plus d'infos</a>
                            </div>
                        </article>
                    </div>
                </div>

                {% for annonce in annoncesRecentes %}
                    <div class="item">
                        <div class="annonce-block">
                            <article class="annonces">
                                <div class="overlay">
                                    <h4>{{ annonce.categorie.nom }}</h4><h6>{{ annonce.departement.departementNom }}</h6>
                                    <p><small>{{ annonce.description }} {{ annonce.signes }}</small></p>
                                    <a href="#" class="button-2">Plus d'infos</a>
                                </div>
                            </article>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <a href="#myCarousel" class="left carousel-control" data-slide="prev" role="button">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a href="#myCarousel" class="right carousel-control" data-slide="next" role="button">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
            </div>

        </div>
    </section>

{% endblock %}