{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/contact.css') }}">
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block body %}

    <div class="container">
        <div class="col-md-12 text-center">
                <h1>CONTACTEZ-NOUS</h1>
        </div>
        <br>
   {# </div>#}

   {# <div class="container-fluid" id="contact_bg">#}
        <div class="col-md-12">
            {% for message in app.session.flashbag.get('info') %}
                <p class="alert alert-info">{{ message }}</p>
            {% endfor %}
        </div>

        <div class="col-md-12">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                    <legend>Envoyez-nous un message</legend>

                    <div class="well" >
                        <div class="form-group nom">
                            <label for="nom">Nom:<strong>*</strong></label>
                            {{ form_widget(form.lastName, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}})}}
                            {{ form_errors(form.lastName) }}
                            <p id="messNom">Le nom doit faire au moins 3 caractères.</p>
                        </div>

                        <div class="form-group prenom">
                            <label for="prenom">Prénom:<strong>*</strong></label>
                            {{ form_widget(form.firstName, {'attr': {'class': 'form-control', 'placeholder': 'Prénom'}})}}
                            {{ form_errors(form.firstName) }}
                            <p id="messPrenom">Le prénom doit faire au moins 3 caractères.</p>
                        </div>

                        <div class="form-group mail">
                            <label for="mail">Email:<strong>*</strong></label>
                            {{ form_widget(form.mail, {'attr': {'class': 'form-control', 'placeholder': 'Email'}})}}
                            {{ form_errors(form.mail) }}
                            <p id="messMail">Le mail est invalide.</p>
                        </div>

                        <div class="form-group num">
                            <label for="num">Numéro de l'annonce:</label>
                            {{ form_widget(form.numero, {'attr': {'class': 'form-control', 'placeholder': 'Numero'}})}}
                            {{ form_errors(form.numero) }}
                            <p id="messNum">Minimum 1 chiffre et seulement des chiffres.</p>
                        </div>

                        <div class="form-group message">
                            <label for="message">Votre message:<strong>*</strong></label>
                            {{ form_widget(form.message, {'attr': {'class': 'form-control', 'placeholder': 'Message', 'cols': '30', 'rows':'10'}})}}
                            {{ form_errors(form.message) }}
                            <p id="messMessage">Le message doit faire au moins 15 caractères.</p>
                        </div>
                        <div id="requis" class="pull-right"><p><strong>*</strong> Champs requis.</p></div>
                        <div class="g-recaptcha" data-sitekey="6LeGqiUTAAAAAFZwqmDPRoHCAgsy8OPyG47BCi5A"></div>
                        {{ form_widget(form.Envoyer, {'attr': {'class': 'btn btn-warning pull-right'}})}}
                    </div>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/contact.js') }}"></script>
{% endblock %}

